@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply scroll-smooth;
    }
    body {
        @apply dark:bg-[#343541] bg-white
    }
    .infoText {
        @apply px-5 py-4 text-[13px] bg-gray-100 text-center dark:bg-gray-700/50 my-1 rounded-lg
    }
    .transitionClass {
        @apply transition duration-500
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}